@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --backgr-main: #1D3557;
    --backgr-subheadings: #457B9D;
    --constrast-backgr-main: rgba(81, 186, 189, 0.9);
    --constrast-backgr-subh: #F1FAEE;
    --distintive-color: #E63946;
}


body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px auto;
    font-family: "Roboto Mono", "sans";
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    background: var(--backgr-main);
}

.name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.name img {
    width: 35%;
    max-height: 67px;
    max-width: 67px;
    margin: 1em;
    border-radius: .6em;
}

.name h1 {
    font-size: 0.7em;
    color: white;
    margin: 0.7em 0em;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons img {
    width: 100%;
    padding: .3em;
    max-width: 32px;
    max-height: 32px;
}

.current-date {
    display: inline-flex;
    grid-row: 3/3;
    grid-column: 1/5;
    justify-content: space-around;
    color: white;
    background-color: var(--backgr-subheadings);
    font-size: 1em;
}

nav {
    display: block;
    background-color: white;
    font-size: .8em;
    background-color: var(--constrast-backgr-subh);
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1/5;
}

.btn {
    display: flex;
    justify-content: center;
}

header button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: white
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--backgr-subheadings);
}

nav ul li.active a {
    background-color: var(--backgr-main);
    color: white;
}

nav ul li a:hover {
    background-color: var(--constrast-backgr-main);
    color: white;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    font-size: 1.2em;
    text-align-last: center;

}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}


#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

main {
    display: grid;
    margin-top: 2em;
    grid-gap: .5em;
}

.hero-section img {
    width: 100%;
    height: 100%;
}

.hero-section {
    position: relative;
}

.welcome-message {
    position: absolute;
    top: 25px;
    left: 25px;
    color: var(--constrast-backgr-main);
    padding: .5rem;
    opacity: 0.9;
    font-size: .5em;
    text-shadow:  1px 1px  var(--constrast-backgr-subh);
}

.join-btn {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background: var(--distintive-color);
    border-radius: .7em;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .1rem;
    box-shadow: 0 0 30px #333;
    opacity: 0.9;
    font-size: .5em;
}

section {
    background-color: var(--backgr-main);
    border: solid 1px gray;
    margin: .3em .6em;
    color: white;
    text-align: center;
    align-items: center;
    padding: 0em .5em;
}

p {
    font-size: 13px;
}


section img {
    width: 100%;
    max-width: 80px;
    max-height: 80px;
}

.images {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

section:nth-child(1) {
    padding: 0em;
}

section:nth-child(1) img {
    width: 100%;
    max-width: none;
    max-height: none;
}

/* section:nth-child(3) {
    background-color: var(--constrast-backgr-main);
} */

section:nth-child(5) {
    grid-row: 5/7;
    padding: 0;
}

section:nth-child(6) {
    display: none;
}

.spotlight {
    background: var(--constrast-backgr-main);

    border: solid 1px var(--backgr-main);
    margin: 0.5em 0.7em;
    padding: 0em .5em;
}

.spotlight:nth-child(2) {
    font-size: 0.9em;
}

.spotlight:nth-child(3) {
    display: none;
}

footer {
    display: block;
    text-align: center;
    background-color: var(--distintive-color);
    color: white;
    font-size: .8em;
    margin-top: 1.5em;

}


footer img {
    width: 15%;
    margin: 1em;
}

.footer-sub {
    display: block;
    align-content: center;
    padding: 0 4.5em;
}


/* 
"""   

body max-width 1200px

@media screen and (min-width: 64em)
main {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
    margin: 2em 0.5em
}
    """ */