@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --backrg:rgb(52, 109, 52);
}

body {
    display: grid;
    font-family: "Roboto Mono", "sans";
    justify-content: center;
    align-self: center;
}
header {
    background-color: rgb(83, 160, 93);
    text-align: center;
    color: white;
}


table {
    border-spacing: 0;
    font-size: 1em;
    text-align: center;
    max-width: 400px;
    margin: 3em auto;
    box-shadow: 2px 5px 10px black;
}

tr:nth-child(1) {
    
    background-color: var(--backrg);
    color: white;
}


tr:nth-child(2n +2) {
    background-color: rgb(156, 233, 165);
}
tr:nth-child(2) {
    background-color: rgb(83, 160, 93);
}

th,
td {
    border: 1px solid gray;
    padding: .8em 1.2em;

}

.active {
    color: white;
    background-color: var(--backrg);

}


h2 {
    text-align: center;
    font-size: 15px;
    margin-top: 0;
}
footer {
    background-color: rgb(83, 160, 93);
    text-align: center;
    color: white;
    padding: .7em;
}