main {
    display: grid;
    justify-content: center;
    }

img {
    border: solid 1px darkslategray;
    align-self: center;
    filter: blur(0em);
    transition: filter 0.5s;
    margin: .3em auto;
    width: 95%;
}
img[data-src] {
    filter: blur(0.2em);
    transition: filter 0.2s;

  }
  
picture {
    justify-self: center;
    text-align: center;
}

