@media screen and (min-width: 32em) {
    body {
        display: inline-block;
        text-align: center;
    }
    header h1 {
        margin: 0;
    }
    main {
        display:grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    main section:last-child {
        grid-column: 1/3;
       
    }

    footer p {
        margin: 0;
        padding: 1rem 0rem;
    }
}