/* https://coolors.co/palette/e63946-f1faee-51BABD-457b9d-1d3557*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --backgr-main:#1D3557;
    --backgr-subheadings: #457B9D;
    --constrast-backgr-main: #51BABD;
    --constrast-backgr-subh: #F1FAEE;
    --distintive-color: #E63946;
}




body {
    display: grid;
    grid-template-columns: 1;
    margin: 0 auto;
    font-family: "Roboto Mono", "sans";
}


header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
}

header img { 
    width: 100%;
    padding: auto;
    max-width: 200px;
    max-height: 200px;
}


nav {
    display: block;
    justify-content: space-between;
    background-color: var(--backgr-main);
    align-items: center;
 
    
}

nav p {
    text-align: center;
    padding: 0.5em;
}

nav p:hover {
    background-color: var(--backgr-subheadings);
}
.name {
    font-size:100%;
}

main {
    display:grid;
    text-align: left;
    margin: 1rem auto;
    padding: 0 2em 0 2em;
}


a {
    text-decoration: none;
    color: white;

}

h2 {
    background-color: var(--backgr-main);
    text-align: left;
    padding: 0.4em 1em;
    color: white;
}

h3 {
    color: white;
    padding: 1em;
    background-color:var(--constrast-backgr-main)
}


h4 {
    background:var(--backgr-subheadings);
    color: white;
    padding: 0.5em 1em;
}
footer {
    display:flex;
    justify-content: center;
    background-color: var(--distintive-color);
    padding: 1em 0em;
    color: white;
    font-size: 15px;
}

/* Color Scheme */
.color-sch-main {
    display: grid;
    text-align: left;
    margin: 1rem auto;
    padding: 0;
    font-size:14px;
}

table {
    border:solid 1px var(--backgr-main)
}


table tr:nth-child(2) td:nth-child(4) {
    color: white;
    background-color: var(--backgr-main)
}

table tr:nth-child(3) td:nth-child(4) {
    color: white;
    font-size: 15px;
    background-color: var(--distintive-color)
}





table tr:nth-child(4) td:nth-child(4) {
    font-size: 2em;

}



table tr:nth-child(5) td:nth-child(3) {
    color: white;
    background-color: var(--backgr-main)

}

table tr:nth-child(5) td:nth-child(4) {
    font-size: 1.5em;
    color: white;
    background-color: var(--backgr-main)

}

table tr:nth-child(6) td:nth-child(3){
    color: white;
    background-color: var(--constrast-backgr-main)

}

table tr:nth-child(6) td:nth-child(4){
    font-size: 1.17em;
    color: white;
    background-color: var(--constrast-backgr-main)

}


table tr:nth-child(7) td:nth-child(4) {
    font-size: 16px;
}
td {
    border: solid 0.5px var(--backgr-subheadings)
}

.color-sch-main img {
    width: 100%;
    margin: 1em auto;
    align-self: center;
}


/* Typography  */

#pri-nav{
    color: white;
    background-color: var(--backgr-main);
}

#p-footer {
    color: white;
    font-size: 15px;
    background-color: var(--distintive-color)
}