body {
    display: grid;
    grid-template-columns: 1;
    grid-row-gap: 1em;
    margin: 0 auto;
}


header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
}

header img { 
    width: 70%;
    padding: auto;
}


nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: lightskyblue;
    align-items: center;
    
}

nav p {
    text-align: center;
}

main {
    display:grid;
    text-align: center;
    margin: 1rem auto;
}


a {
    text-decoration: none;
    
}

h2 {
    background-color: teal;
    text-align: left;
    padding: 0.4em 1em;
    color: white;
}

footer {
    background-color: violet;
    text-align: center;
    align-items: center;
    padding: 1em 0em;
    color: white;
}